.place {
  background: transparent;
  padding: 20px 0;
  text-align: center;

  @include breakpoint($sm) {
    background-position: center;
  }

  &__content {
    background: #ffffffb0;
    max-width: 290px;
    margin: 0 auto;
    border-radius: 3px;
    border-color: #ccc;
    padding: 20px 0 0;

    @include breakpoint($xs) {
      max-width: 500px;
    }

    @include breakpoint($sm) {
      max-width: 600px;
    }

    @include breakpoint($md) {
      max-width: 950px;
    }
  }

  &__info {
    margin-top: 20px;
  }

  &__logo {
    display: block;
    max-width: 80px;
    margin: 0 auto;

    @include breakpoint($sm) {
      max-width: 100px;
    }

    @include breakpoint($sm) {
      max-width: 120px;
    }
  }

  &__schedule {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin: 20px auto;
    width: 90%;
  }
}
