.services {
  background-color: #f8f9fa;
  padding: 40px 0;
  text-align: center;

  h2 {
    font-size: 22px;
  }

  &__list {
    margin-top: 40px;

    @include breakpoint($xs) {
      display: flex;
      margin: 40px auto 0;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @include breakpoint($md) {
      max-width: 700px;
    }
  }
}
